 <section class="bg-light">
    <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h1>Bienvenue sur Skt Spot</h1>
                    <p class="lead">This is where our catchy phrase should come! Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
                    <p class="lead">Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
                    <p class="lead">Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
                    <p><a href="#" class="btn btn-primary shadow mr-2">Learn More</a><a href="#" class="btn btn-outline-primary">An extra button</a></p>
                </div>
            <div class="col-lg-6 order-1 order-lg-2">
            <%= image_tag "skate_spot_index", class: "img-fluid" %>
            </div>
        </div>
    </div>
</section>

<!-- Services-->
<section>
    <div class="container mt-2">
        <h2>What We Do?</h2>
        <p class="text-muted mb-5">A sub-heading should come here :)</p>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-heart"></use>
                </svg>
                <h6>Tempor aute occaecat</h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-inbox"></use>
                </svg>
                <h6>Tempor aute occaecat</h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                    <svg class="lnr text-primary services-icon">
                        <use xlink:href="#lnr-rocket"></use>
                    </svg>
                    <h6>Tempor aute occaecat</h6>
                    <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-inbox"></use>
                </svg>
                <h6>Tempor aute occaecat</h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-rocket"></use>
                </svg>
                <h6>Tempor aute occaecat</h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                    <svg class="lnr text-primary services-icon">
                        <use xlink:href="#lnr-heart"></use>
                    </svg>
                    <h6>Tempor aute occaecat</h6>
                    <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-4">
        <blockquote class="blockquote text-center mb-0">
            <svg class="lnr text-muted quote-icon pull-left">
                <use xlink:href="#lnr-mustache"> </use>
            </svg>
            <p class="mb-0">Knowledge is Power. ^_^</p>
                <footer class="blockquote-footer">Francis Bacon, in
                    <cite title="Source Title">Meditationes Sacrae (1597)</cite>
                </footer>
        </blockquote>
    </div>
</section>

<section class="bg-light mt-5 pt-5 pb-5">
    <div class="container">
        <div class="card text-center">
            <h5 class="card-header bg-info">Inscription</h5>
            <div class="card-body">
                <h5 class="card-title">Rejoins la communauté Skt spots</h5>
                <p class="card-text">Profite de spots ajoutés par d'autres utilisateurs et alimente également la liste</p>
                <%= link_to "Nous rejoindre", new_user_registration_path, class: "btn btn-success" %>
            </div>
        </div>
    </div>
</section>

<!-- 
<a href="<%= new_spot_path %>" class="btn">Créer un spot</a>

<% @spots.each do |element| %>
  <li><%= element.name %> a href="<%= spot_path(element.id) %>" class="btn">Voir le spot</a></li>
  <li><%= element.latitude %></li>
  <li><%= element.longitude %></li>
  </br>
<% end %>
-->